version: '3.3'

services:
  wrf-runs:
    image: mullenkamp/wrf-era5-runs:1.1
    # user: ${MY_UID}:${MY_GID}
    shm_size: '1gb'
    volumes:
        - "~/git/wrf-repos/wrf-era5-runs/parameters.toml:/app/parameters.toml"
        - '~/git/wrf-repos/wrf-testing/namelists/namelist_uc_v02_6d.wps:/data/namelists/namelist.wps'
        - '~/git/wrf-repos/wrf-testing/namelists/namelist_uc_v02_6d.input:/data/namelists/namelist.input'
        - ~/WPS_GEOG:/WPS_GEOG
        # - '~/data/wrf/tests/test_data:/data'

