version: '3.3'

services:
  wrf-runs:
    image: mullenkamp/wrf-era5-runs:1.2
    # user: ${MY_UID}:${MY_GID}
    shm_size: '1gb'
    volumes:
        - "./parameters.toml:/app/parameters.toml"
        - ~/WPS_GEOG:/WPS_GEOG
        # - '~/data/wrf/tests/test_data:/data'

