n_cores = 8 # Don't use any more than 24 cores. Efficiency drops significantly past 24 cores.

domains = [1, 2] # A selection of the domains to be run. Can be commented out to run all domains listed in the namelist files.

# output_variables = ['XLAT', 'XLONG', 'LU_INDEX', 'HGT', 'T2', 'Q2', 'PSFC', 'U10', 'V10', 'TSK', 'SWDOWN', 'GLW', 'OLR', 'ALBEDO', 'EMISS', 'HFX', 'LH', 'GRDFLX', 'SST', 'RECH', 'PREC_ACC_C', 'PREC_ACC_NC', 'QFX', 'SMOIS', 'TSLB', 'CANWAT', 'SFROFF', 'UDROFF', 'SNOW_ACC_NC'] # This list of variables will filter the wrfout files to only contain these variables. Comment out to retain all variables in the wrfout files.

# [no_docker]  # Comment out when using a docker container
# wps_path = '/home/mike/Build_WRF/WPS-4.6.0'
# wrf_path = '/home/mike/Build_WRF/WRF-4.6.1-ARW'
# data_path = '/home/mike/data/wrf/tests/test_data/'
# geog_data_path = '/home/mike/WPS_GEOG'

[time_control]
start_date = "1990-07-02 00:00:00"
# end_date = "1990-07-02 06:00:00"

duration_hours = 48 # Alternative to the end_date

interval_hours = 3 # time interval between incoming data from the time series data, which is the interval (hours) between times in the lateral boundary condition file

[time_control.history_file]
interval_hours = {1=24, 2=1, 3=1, 4=1, 5=1, 6=1} # The interval in hours that the output should be written out for each domain where {domain=n_hours}. Must match the number of domains in namelists
begin_hours = 0 # Number of hours from the start of the run in which the history output file (wrfout) is written. This will be subtracted from the start_date.

[time_control.summary_file]
output = true # Whether to output the summary file or not
interval_days = 1 # Number of days to summarise the data over
n_days_per_file = 1 # Must be equal to or larger than interval_days

[time_control.z_level_file]
output = true # Whether to output the summary file or not
z_levels = [30, 80, 150, 200, 350, 500, 750, 1000, 1300, 1600, 2000, 2500, 3000, 4000, 5000, 7000, 10000] # Heights in meters above ground. Might not work at values < 30. Change dzbot in physics to 30 for 20 m height to work.

# [sentry] # Comment out if not in use
# dsn = ""
# tags = {task = 'wrf run'}

### The parameters below use rclone configuration. It does not have to be S3; it can also be smb or local configurations.

# [ndown] # Should be fully commented out if not running ndown
# [ndown.input]
# type = 's3'
# provider = 'Mega'
# endpoint = 'https://s3.ca-west-1.s4.mega.io'
# access_key_id = ''
# secret_access_key = ''
# path = '/wrf-1k/output/d03'

[remote] # This must exist
[remote.era5]
type = 's3'
provider = 'Mega'
endpoint = 'https://s3.ca-west-1.s4.mega.io'
access_key_id = ''
secret_access_key = ''
path = '/data/ncar/era5/'

[remote.output] # This can be commented out if you only want to keep the files where it's been mounted in the docker-compose.yml file.
type = 's3'
provider = 'Mega'
endpoint = 'https://s3.ca-west-1.s4.mega.io'
access_key_id = ''
secret_access_key = ''
path = '/wrf-1k/output/test1'